* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-flow: wrap;
}

/* Top of the page */
header {
    display: flex;
    align-items: center;
    background-color: rgb(2, 59, 35);
    border-bottom: 10px rgb(207, 240, 223);
    border-style: solid;
    color: white;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 20px;
}

/* Left side of the page, static */
aside {
    float: left;
    display: flex;
    background-color: rgb(207, 240, 223);
    width: 275px;
    height: 100%;
    padding: 30px;
    border-right: solid 5px rgb(2, 59, 35);
    align-items: center;
    justify-content: right;
    gap: 400px;
    color: rgb(2, 59, 35);
    font-weight: 200%;
}

p {
    text-align: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    color: rgb(2, 59, 35);
}

a {
    font-size: larger;
    font-weight: 25px;
}

footer {
    display: inline;
}

li {
    display: inline;
    background-color: rgb(207, 240, 223);
    border: solid rgb(207, 240, 223) 5px;
    border-radius: 10px;
}

/* User-Interface links to different sections of the page */
.ui-links {
    display: flex;
    justify-content: space-around;
    width: 600px;
    padding: 2px;
    background-color: white;
    border: 3px solid rgb(207, 240, 223);
    border-radius: 5px;
}

/* First container */
.top-container {
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    background-color: rgb(207, 240, 223);
}

/* Second container
    I couldn't quite figure out how to set this to Flex like the first container, while messing up the left side of the page.
    Only inline would seem to work. This is why the Left side of the page from here on does not adapt and respond like it does above when shrinking the window.
    */
.middle-container {
    display: inline;
    margin: block;
}


.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Bottom container */
.footer-container {
    height: 85px;
    align-items: center;
    display: inline;
}


.title-right {
    display: inline;
    margin-right: 30px;
}

.sub-header {
    background-color: rgb(2, 59, 35);
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title-left {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;;
    color: rgb(2, 59, 35);
}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.link-button {
    background-color: rgb(207, 240, 223);
    width: 350px;
    color: rgb(2, 59, 35);
    border: 5px solid rgb(2, 59, 35);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: -62px;
    box-shadow: solid gray 10px;
    
}

.middle-container, aside {
    font-weight: 200%;
}

/* Desination for first UI link */
#center-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: rgb(2, 59, 35);
    border-bottom: solid 5px rgb(2, 59, 35);
}

/* Desination for second UI link */
#card-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#card-box-1 .link-button {
    width: 700px;
}

#andy-1 {
    border-right: solid 8px rgb(2, 59, 35);
}

/* Destination for the third UI link */
#footer-links {
    background-color: rgb(2, 59, 35);
    border-color:rgb(207, 240, 223) ;
    display: flex;
    height: 75px;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 992px) {
    img {
        width: 75%;
        height: 75%;
    }
    .card-box-1 {
        width: 75%;
        height: 75%;
    }
    .footer-links {
        font-size: 75%;
        width: 75%;
        height: 75%;
    }
    .link-button {
        width: 75%;
        height: 75%;
    }
    .card-box-1 .link-button {
        width: 450px;
        height: 75%;
    }
    #andy-1 {
        border-bottom: solid 4px rgb(2, 59, 35);
        border-right: 0px;
    }
}

/* I think my shortcomings with the responsiveness have something to do with the use of @media screen.
    The top .link-button combined with card-box-1, just like it was to make the width longer,
    for some reason does not work like the other @media screens. */